# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Expo
.expo/
mobile/.expo/
mobile/android/
mobile/ios/

# IDE
.vscode/
.idea/
